* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: sans-serif;
    font-size: 16px;
    color: white;
    background-color: #333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}