{% extends 'index.html' %}
{% load static %}
{% block content %}
        <div class="right">
            <h1 class="right__title">Аналитик</h1>
            <ul class="right__list">
                <li class="right__li li-right">
                    <p class="li-right__text">
                        <p class="li-right__p">В широком смысле IT-аналитик — это специалист собирающий и делающий выводы на основе данных. Рабочий процесс аналитика состоит из сбора, обработки и заключения. Результат работы помогает ответить на вопрос — чего хочет заказчик?</p>
                        <p class="li-right__p">В зависимости от типа данных IT-аналитиков можно поделить на подвиды.</p>
                        <p class="li-right__p">Ниже краткое описание задач и скилов разных IT-аналитиков.
                        Прежде чем перейдем к описанию, отмечу два ключевых момента. Во-первых, требования отличаются от сферы бизнеса и конкретной компании. Во-вторых, это не исчерпывающий список, но включающий все популярные подвиды аналитиков.</p>
                        <p class="li-right__p">Итак, начнем:</p>
                    </p>
                </li>
                <li class="right__li li-right">
                    <div class="li-right__img">
                        <img src="{% static 'img/business.png' %}" alt="cat">
                    </div>
                    <p class="li-right__text">
                        <p class="li-right__p">Описание</p>
                        <p class="li-right__p">
                            Задачи — анализ и оптимизация бизнес процессов. Такой аналитик хорошо знает процессы своей компании (или направления, с которым работает). Понимает лучшии практики, конкурентов и узкие места бизнеса. Применяет свои знания, чтобы улучшать процессы.
                            <br>
                            Скилы — знания предметной области; управление требованиями; составление диаграмм бизнес процесса; коммуникативные навыки; качественные исследования и т.д.
                            Данные — бизнес процессы.
                        </p>
                        <p class="li-right__p">
                            Бизнес-аналитик — специалист по улучшению процессов бизнеса. Технические знания для этой роли не самое главное, куда важнее знания процессов или способность быстро их понять. Нужно уметь слушать, задавать правильные вопросы и вычленять проблемы пользователей.
                        </p>
                    </p>
                </li>
                <li class="right__li li-right">
                    <div class="li-right__img">
                        <img src="{% static 'img/system.png' %}" alt="cat">
                    </div>
                    <p class="li-right__text">
                        <p class="li-right__p">Описание</p>
                        <p class="li-right__p">
                            Задачи — перевод требований от бизнеса на технический язык. Хорошо знает, как устроена разрабатываемая система и софт вообще. Может читать код.
                            <br>
                            Скилы — технические знания; архитектура софта; техническая документация; проектирование систем и взаимодействие и т.д.
                            <br>
                            Данные — устройство разрабатываемой системы.
                        </p>
                        <p class="li-right__p">
                            Системный-аналитик — переводчик пожеланий бизнеса в техническую плоскость. Понимает технические ограничения, нюансы работы системы и сложности, возникающие у программистов. Вместе с тем, может говорить с бизнесом, понимать их требования и сразу видеть противоречия.
                        </p>
                        <p class="li-right__p">Зачастую задачи бизнес и системного аналитика пересекаются. Часто один сотрудник совмещает обе роли. И в нюансах бизнеса компании понимает и одновременно делает тех описание для команды разработки. Подобное совмещение практикуется повсеместно, имейте ввиду.</p>
                    </p>
                </li>
                <li class="right__li li-right">
                    <div class="li-right__img">
                        <img src="{% static 'img/data.png' %}" alt="cat">
                    </div>
                    <p class="li-right__text">
                        <p class="li-right__p">Описание</p>
                        <p class="li-right__p">
                            Задачи — в цифрах увидеть ответы и подсказки. Хорошо считает, знает математику и статистику. Обращается к базе данных и обрабатывает цифры с помощью подходящих инструментов (как правило R и Python).
                            <br>
                            Скилы — знания SQL, математики, статистики, умение работать с цифрами и делать на их основе выводы и т.д.
                            <br>
                            Данные — данные в распространенном представлении — цифры.
                        </p>
                        <p class="li-right__p">
                            Дата-аналитик — специалист по количественным исследованиям. Скрупулезно проверяет изменения в трендах, сообщает, когда что-то идет не так и исследует большие массивы данных. Вероятно, хочет, и наверняка станет, дата саинтистом.
                        </p>
                    </p>
                </li>
                <li class="right__li li-right">
                    <div class="li-right__img">
                        <img src="{% static 'img/web.png' %}" alt="cat">
                    </div>
                    <p class="li-right__text">
                        <p class="li-right__p">Описание</p>
                        <p class="li-right__p">
                            Задачи — понять, чего хотят посетители сайта. Хорош в системах web-аналитики (Google Analytics и Яндекс.Метрика). Делает выводы о поведении посетителей, проблемных местах и точках роста. Улучшает web-страницу и опыт пользователя.
                            <br>
                            Скилы — умение работать с системами web-аналитики, интерпретация данных, проведение А/Б тестов и т.д.
                            <br>
                            Данные — информация о работе с Web-страницами.
                        </p>
                        <p class="li-right__p">
                            Web-аналитик — скажет наверняка, что происходит с сайтом. Отслеживает действия посетителей, использование кнопок, достижение целей. Понимает узкие места взаимодействия. Делает выводы об успехе новых страниц и обновления существующих.
                        </p>
                    </p>
                </li>
                <li class="right__li li-right">
                    <div class="li-right__img">
                        <img src="{% static 'img/ux.png' %}" alt="cat">
                    </div>
                    <p class="li-right__text">
                        <p class="li-right__p">Описание</p>
                        <p class="li-right__p">
                            Задачи — дать пользователю логичный, простой и удобный опыт работы с интерфейсом. Изучает взаимодействие с системой. Улучшает пользовательский опыт и сценарии использования.
                            <br>
                            Скилы — понимание в дизайне, анализ пользователей, качественные исследования, А/Б тестирование, понимание шаблонов поведения и т.д.
                            <br>
                            Данные — информация о взаимодействии с интерфейсом.
                            <br>
                            UX-аналитик — выяснит какие действия вызывают у аудитории сложности или не очевидны для нее. Поможет понять, как упростить взаимодействие пользователя и системы.
                        </p>
                        <p class="li-right__p">
                            UX-аналитик — выяснит какие действия вызывают у аудитории сложности или не очевидны для нее. Поможет понять, как упростить взаимодействие пользователя и системы.
                        </p>
                    </p>
                </li>
                <li class="right__li li-right">
                    <div class="li-right__img">
                        <img src="{% static 'img/product.png' %}" alt="cat">
                    </div>
                    <p class="li-right__text">
                        <p class="li-right__p">Описание</p>
                        <p class="li-right__p">
                            Задачи — исследование продукта на предмет точек роста. На мой вкус выделять продуктового аналитика — дань моде, однако совсем проигнорировать эту роль и считать заметку актуальной тоже странно. Продуктовый аналитик — хороший пример микса из умений всех видов IT аналитиков. Из багажа знаний он берет наиболее действенные инструменты.
                            <br>
                            Скилы — качественные и количественные исследования; работа с метриками; воронками активации и т.д.
                            <br>
                            Данные — метрики продукта.
                        </p>
                        <p class="li-right__p">
                            Продуктовый аналитик — исследует как улучшать продукт, помогать продукт менеджеру и команде понять что происходит и как продукт может расти.
                        </p>
                    </p>
                </li>
            </ul>
        </div>
{% endblock %}